.timeline {
  --circle-size: 530px;
  --radius: calc(var(--circle-size) / 2);
  --dot-size: 6px;
  --active-dot-size: 56px;
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  margin: 0 auto;

  &__circle {
    width: 100%;
    height: 100%;
    border: 1px solid var(--timeline);
    border-radius: 50%;
    position: relative;
    z-index: 2;

    @media(max-width: 480px) {
      display: none;
    }
  }

  &__cross-lines {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: var(--timeline);
    }

    &::before {
      width: 1px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 768px) {
    --dot-size: 5px;
    --active-dot-size: 45px;
    --circle-size: 400px;
  }

  @media (max-width: 480px) {
    --circle-size: 143px;
    --dot-size: 4px;
    --active-dot-size: 40px;
    

    &__cross-lines {
      display: none;
    }
  }

  &__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 var(--radius);
    cursor: pointer;
    z-index: 2;

    &-content {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0;
      height: 0;
      transform-origin: center center;
      pointer-events: auto;
    }

    &-dot {
      position: absolute;
      width: var(--dot-size);
      height: var(--dot-size);
      background-color: var(--text-color);
      border-radius: 50%;
      border-color: var(--timeline-circle);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &-number {
      color: var(--text-color);
      font-size: calc(var(--active-dot-size) * 0.4);
      font-weight: bold;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &--active &-dot {
      background-color: var(--bg-color);
      border: 1px solid var(--timeline-circle);
      width: var(--active-dot-size);
      height: var(--active-dot-size);
    }

    &--active &-number {
      opacity: 1;

      &:hover:not(&--active) &-dot {
        @media (max-width: 480px) {
          width: 40px;
          height: 40px;
        }
      }
    }

    &:hover:not(&--active) &-dot {
      background-color: var(--bg-color);
      border: 1px solid var(--timeline-circle);
      width: var(--active-dot-size);
      height: var(--active-dot-size);
    }

    &:hover:not(&--active) &-number {
      opacity: 1;
    }
  }

  &__period-info {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 14px;
    z-index: 3;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-out;

    @media (max-width: 480px) {
      top: 50%;
      left: 25px;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__period-name {
    color: var(--text-color);
    font-weight: 700;
    font-size: 20px;
    text-align: left;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    pointer-events: none;

     @media(max-width: 480px) {
      top: 48px;
      left: 52px;
      
    }
  }

  &__years {
    display: flex;
    gap: clamp(20px, 5vw, 70px);
    justify-content: center;
    font-size: clamp(60px, 15vw, 200px);
    font-weight: 800;
    letter-spacing: 1px;
    color: inherit;
    font-variant-numeric: tabular-nums;

    @media(max-width: 480px) {
      font-size: 56px;
      letter-spacing: -0.6px;
    }
  }

  &__year-start {
    color: var(--start-year);
  }

  &__year-end {
    color: var(--end-year);
  }
}
