@font-face {
  font-family: "PT Sans";
  src:
    url("../assets/fonts/PTSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../assets/fonts/PTSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../assets/fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../assets/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "PT Sans", sans-serif;
  --bebas: 'Bebas Neue', sans-serif;
  --bg-color: rgba(244, 245, 249, 1);
  --text-color: rgba(66, 86, 122, 1);
  --start-year: rgba(93, 95, 239, 1);
  --end-year: rgba(239, 93, 168, 1);
  --timeline: rgba(66, 86, 122, 0.2);
  --timeline-circle: rgba(48, 62, 88, 0.5);
  --period-circle: rgba(66, 86, 122, 0.5);
  --year-text: rgba(56, 119, 238, 1);
  --line: rgba(199, 205, 217, 1);
  --pagination: rgba(199, 205, 217, 1);
}

body {
  font-family: var(--font-family);
  background: var(--bg-color);
  overflow-x: hidden;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
