.circular {
  overflow: hidden;
  position: relative;
  padding: 215px 80px 104px;

  @media (max-width: 950px) {
    padding: 170px 40px 0;
  }

  @media (max-width: 480px) {
    bottom: 0;
    left: 0;
    padding: 155px 20px 0;
  }

  &__title {
    position: absolute;
    top: 160px;
    left: 0;
    display: flex;
    gap: 78px;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-weight: 700;
    font-size: 56px;

    @media (max-width: 950px) {
      top: 90px;
      gap: 40px;
    }

    @media (max-width: 480px) {
      top: 59px;
      left: 20px;
      font-size: 20px;
    }
  }

  &__title-img {
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__title-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgba(66, 86, 122, 1);
  }
}
